.icon {
  width: 15px;
  height: 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  &.wood {
    background-image: url('pic/icons/wood.png');
  }
  &.stone {
    background-image: url('pic/icons/stone.png');
  }
  &.population {
    background-image: url('pic/icons/peon.png');
  }
  &.meat {
    background-image: url('pic/icons/meat.png');
  }
  &.ironOre {
    background-image: url('pic/icons/ironOre.png');
  }
  &.iron {
    background-image: url('pic/icons/iron.png');
  }
  &.flour {
    background-image: url('pic/icons/flour.png');
  }
  &.coal {
    background-image: url('pic/icons/coal.png');
  }
}