@import "./BuildingMenu/style";
@import "./EditorPanel/style";
@import "./MonitoringPanel/style";
@import "./WorldmapMenu/style";
@import "./EntityManagerPanel/style";
@import "./HelpPanel/style";
@import "./FirstStartPanel/style";
@import "./LeaderCreationPanel/style";
@import "./VictoryPanel/style";
@import "./Warning/style";
@import "./icons";

div {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.picture {
  background-size: cover;
}

.nodeOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.panel {
  position: fixed;
  background: #9E9E9E;
  width: 480px;
  height: 300px;
  left: 50%;
  top: 5%;
  padding: 8px;
  transform: translateX(-240px);
}
