@import "./BuildingMenu/style";
@import "./EditorPanel/style";
@import "./MonitoringPanel/style";
@import "./WorldmapMenu/style";
@import "./EntityManagerPanel/style";
@import "./HelpPanel/style";
@import "./FirstStartPanel/style";
@import "./LeaderCreationPanel/style";
@import "./VictoryPanel/style";
@import "./icons";

div {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.picture {
  background-size: cover;
}

.nodeOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}
