.worldmapMenu.pc {

  .button {
    border: solid 1px black;
    background-color: grey;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    width: 40px;
    &:hover {
      background-color: #4444ff;
    }
    &.focus {
      background-color: #ffffff;
    }
  }


  .button.back {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 60px;
    height: 34px;
    line-height: 34px;
  }

  .hide{
    display: none;
  }

}
