.entityManagerPanel.pc {
  position: fixed;

  .panel {
    width: 330px;
    height: 277px;
    left: 50%;
    top: 5%;
    transform: translateX(-165px);

    .preview {
      position: relative;
      width: 128px;
      height: 128px;
      margin: 20px;
      float: left;
    }

    .title {
      position: relative;
      display: inherit;
      margin: 17px 0;
    }

    .description {
      position: relative;
      margin: 0;
      display: inline;
    }

    .button {
      border: solid 1px black;
      background-color: grey;
      cursor: pointer;
      text-align: center;
      line-height: 40px;
      width: 40px;
      z-index: 2;
      &:hover {
        background-color: #4444ff;
      }
    }

    .nodeDataList{
      position: absolute;
      bottom: 0;
      .item {
        position: relative;
        height: 17px;
        background-color: grey;
        width: 100px;
        margin: 11px;
        padding: 3px;
        .icon {
          width: 18px;
          height: 18px;
          background-size: 17px;
        }
        .value {
          position: absolute;
          top: 2px;
          left: 23px;
          display: inline-block;
        }
      }
    }

    .button.close {
      position: absolute;
      top: 16px;
      right: 20px;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }

    .button.remove {
      position: absolute;
      bottom: 16px;
      right: 20px;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }

    .button.visit {
      position: absolute;
      bottom: 16px;
      right: 20px;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }

    .button.action {
      position: absolute;
      top: 93px;
      right: 20px;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
  }

  &.hide {
    display: none;
  }

}
