.buildingMenu.pc {
  position: absolute;
  width: 100%;
  bottom: 0;

  .categoriesContainer {
    position: absolute;
    left: 0;
    bottom: 140px;
    white-space: nowrap;
    overflow-x: hidden;
    .item {
      cursor: pointer;
      text-align: center;
      width: 50px;
      height: 50px;
      background-size: 50px;
      background-repeat: no-repeat;
      margin: 0 20px 0 20px;
      display: inline-block;
      &:hover {

      }

      &.focus {

      }
    }
  }

  .buildingContainer {
    position: absolute;
    background: linear-gradient(180deg, #2b1d0e, #545218);
    height: 140px;
    bottom: 0;
    width: 100%;
    overflow-x: scroll;
    left: 0;
    padding: 0 30px 0 0;
    &::-webkit-scrollbar {
      display: none;
    }

    .buildingContent {
      position: absolute;
      width: auto;
      height: 190px;
      left: 0;
      top: 0;
      white-space: nowrap;
    }

    .item {
      background-image: url(pic/ui/item.png);
      background-size: 210px 128px;
      background-repeat: no-repeat;
      cursor: pointer;
      text-align: center;
      width: 210px;
      height: 128px;
      margin: 6px 0 0 12px;
      display: inline-block;
      color: white;
      font-size: 14px;
      .overflow {
      }

      .preview {
        background-repeat: no-repeat;
        background-size: 96px;
        position: absolute;
        width: 96px;
        height: 96px;
        top: 23px;
        left: 12px;
      }

      .name {
        position: absolute;
        margin: 4px 10px;
        color: black;
      }

      .helper {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #381d15;
        color: white;
        width: 30px;
        height: 30px;
        line-height: 30px;
      }

      .resources {
        position: absolute;
        top: 29px;
        right: 1px;
        width: 87px;
        .resource {
          position: relative;
          height: 22px;
          .icon {
            width: 17px;
            height: 17px;
            background-size: 17px;
          }
          .value {
            position: absolute;
            top: 0;
            left: 23px;
            line-height: 17px;
          }
        }
      }

    }

  }

  /** ANIMATION CLOSE OPEN */

  .categoriesContainer {
    transition-property: transform;
    transition-duration: 350ms;
    transform: translateY(0px);
  }
  .buildingContainer {
    transition-property: transform;
    transition-duration: 350ms;
    transform: translateY(0px);
  }

  &.hide {
    display: none;
  }

  .hide {
    display: none;
  }

  &.collapse {
    .categoriesContainer {
      transform: translateY(140px);
    }
    .buildingContainer {
      transform: translateY(140px);
    }
  }
}
