.monitoringPanel {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  .previewContainer {
    position: relative;
    width: 340px;
    top: 5px;
    left: 0;
    height: 16px;
    margin: 0 auto;
    .item {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 16px;
      margin: 0 8px 0 0;
      background: linear-gradient(90deg, rgba(37, 28, 22, 0.90), rgba(37, 28, 22, 0.0));
      .icon {
        position: absolute;
        width: 16px;
        height: 16px;
      }
      .value {
        position: absolute;
        left:20px;
        top: 0;
        color: white;
        font-size: 14px;
      }

    }
  }

  .panel {
    position: fixed;
    background: #9E9E9E;
    width: 480px;
    height: 300px;
    left: 50%;
    top: 5%;
    transform: translateX(-240px);
  }

  .button {
    cursor: pointer;
    text-align: center;
    &:hover {
    }
  }

  .button.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #381d15;
    color: white;
    line-height: 40px;
  }
  .button.open {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(pic/buttons/menu.png);
    background-size: 40px;
    right: 14px;
    top: 14px;
  }

  .button.world {
    position: fixed;
    top: 0px;
    right: 56px;
    width: 93px;
    height: 40px;
    line-height: 40px;
    background-color: #381d15;
    color: white;
  }

  .hide {
    display: none;
  }

}
