.monitoringPanel.pc {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  .previewContainer {
    position: relative;
    width: 600px;
    top: 0;
    left: 0;
    height: 66px;
    margin: 0 auto;
    .item {
      position: relative;
      display: inline-block;
      width: 105px;
      height: 30px;
      margin: 14px 10px 3px 17px;
      background: linear-gradient(90deg, rgba(37, 28, 22, 0.90), rgba(37, 28, 22, 0.0));
      .icon {
        position: absolute;
        left: -18px;
        top: -13px;
      }
      .value {
        position: absolute;
        left:39px;
        top: 0;
        color: white;
        font-size: 24px;
      }

    }
  }

  .panel {
    position: fixed;
    background: #9E9E9E;
    width: 600px;
    height: 90%;
    left: 50%;
    top: 5%;
    transform: translateX(-300px);
  }

  .button {
    cursor: pointer;
    text-align: center;
    &:hover {
    }
  }

  .button.close {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .button.open {
    position: absolute;
    width: 128px;
    height: 128px;
    background-image: url(pic/buttons/menu.png);
    right: 17px;
    top: 14px;
  }

  .button.world {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 70px;
    height: 40px;
    line-height: 40px;
  }

  .hide {
    display: none;
  }

}
