
.editorPanel {

  position: fixed;
  left: 0;
  top: 0;

  .hide {
    display: none;
  }

  .editor {
    position: absolute;
    left: 0;
    top: 0;

    .button {
      position: absolute;
      border: solid 1px black;
      background-color: grey;
      cursor: pointer;
      text-align: center;
      line-height: 34px;
      width: 34px;
      height: 34px;
      font-size: 12px;
      border-radius: 21px;
      &:hover {
        background-color: #4444ff;
      }
    }

    .button.confirm {
      top: -56px;
      left: 35px;
    }

    .button.cancel {
      top: 22px;
      left: 35px;
    }

    .button.rotate {
      top: 22px;
      left: -64px;
    }
  }
}

