
.editorPanel {

  position: fixed;
  left: 0;
  top: 0;

  .hide {
    display: none;
  }

  .editor {
    position: absolute;
    left: 0;
    top: 0;

    .button {
      border: solid 1px black;
      background-color: grey;
      cursor: pointer;
      text-align: center;
      line-height: 40px;
      &:hover {
        background-color: #4444ff;
      }
    }

    .button.confirm {
      position: absolute;
      top: -77px;
      left: 60px;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }

    .button.cancel {
      position: absolute;
      top: 30px;
      left: 60px;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }

    .button.rotate {
      position: absolute;
      top: 30px;
      left: -100px;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
  }
}

